
{% extends "layouts/default.html" %}

{% block title %} Enquiries {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Enquiries</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Customers</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Enquiries</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Enquiries</h4>
                    </div>
                    <div class="card-body">
                        <form action="" class="mb-4" id="find-customers-transactions">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <select name="customer_id" class="form-control" id="">
                                    <option value="">Select a customer</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">View</button>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table id="customer-datatables" class="display table table-striped table-hover" >
                                <thead>
                                    <tr>
                                        <th>Transaction date</th>
                                        <th>Transaction reference</th>
                                        <th>Transaction Ammount</th>
                                        <th>Transaction Comment</th>
                                        <th>Running balance</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Transaction date</th>
                                        <th>Transaction reference</th>
                                        <th>Transaction Ammount</th>
                                        <th>Transaction Comment</th>
                                        <th>Running balance</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/assets/js/scripts.js"></script>

{% endblock javascripts %}
